{% extends 'landbot_base.html' %}

{% block title %}Bamba - Match Users{% endblock title %}

{% block content %}
<form class="setup_form border bg-slate-50 rounded border-gray-300 shadow-xl h-auto mx-auto p-4 flex flex-col" action="{% url 'landbot:clean_excel' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="text-center text-3xl px-auto py-4">
        Excel File
    </h1>
    <table>
        <tbody>
            <tr>
                <th>
                    <label for="{{ form.excel.id_for_label }}">Excel File:</label>
                </th>
                <td>
                    {{ form.error }}
                    {{ form.excel }}
                </td>
            </tr>
        </tbody>
    </table>
    <div id="buttons-div" class="flex justify-end">
        <button type="submit" class="m-3 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded disabled:cursor-not-allowed">Match</button>
    </div>
</form>
{% endblock content %}